{
  "swagger": "2.0",
  "info": {
    "title": "Dime.Scheduler",
    "description": "The Dime.Scheduler connector for the Power Platform allows you to feed the system with scheduling related entities such as resources, tasks, skills, etc.",
    "version": "0.1",
    "contact": {
      "name": "Dime.Scheduler",
      "url": "https://www.dimescheduler.com",
      "email": "support@dimescheduler.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dimescheduler.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.dime-software.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Data"
    }
  ],
  "host": "import.dimescheduler.com",
  "basePath": "/v0.1",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/category": {
      "post": {
        "summary": "Add, update or remove a category",
        "description": "Add, update or remove a category.",
        "operationId": "Category",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/timeMarker": {
      "post": {
        "summary": "Add, update or remove a time marker",
        "description": "Add, update or remove a time marker.",
        "operationId": "Timemarker",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "timeMarker",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/timeMarker"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/pin": {
      "post": {
        "summary": "Add, update or remove a pin",
        "description": "Add, update or remove a pin.",
        "operationId": "Pin",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "pin",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/pin"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/resource": {
      "post": {
        "summary": "Add, update or remove a resource",
        "description": "Add, update or remove a resource.",
        "operationId": "Resource",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "resource",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resource"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/actionUri": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove an action link",
        "description": "Add, update or remove an action link.",
        "operationId": "Actionuri",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "actionUri",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/actionUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointment": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove an appointment",
        "description": "Add, update or remove an appointment.",
        "operationId": "Appointment",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointment"
            }
          }
        ]
      }
    },
    "/appointmentCategory": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the category of an appointment",
        "description": "Add, update or remove the category of an appointment.",
        "operationId": "AppointmentCategory",
        "parameters": [
          {
            "name": "appointmentCategory",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentCategory"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentContainer": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove an appointment container",
        "description": "Add, update or remove an appointment container.",
        "operationId": "AppointmentContainer",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "appointmentContainer",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentContainer"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentContent": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the content of the appointment",
        "description": "Add, update or remove the content of the appointment.",
        "operationId": "AppointmentContent",
        "parameters": [
          {
            "name": "appointmentContent",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentContent"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentImportance": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the priority of an appointment",
        "description": "Add, update or remove the priority of an appointment.",
        "operationId": "AppointmentImportance",
        "parameters": [
          {
            "name": "appointmentImportance",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentImportance"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentLocked": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the appointment's locked status",
        "description": "Add, update or remove the appointment's locked status.",
        "operationId": "AppointmentLocked",
        "parameters": [
          {
            "name": "appointmentLocked",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentLocked"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentPlanningQuantity": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the appointment's planning quantity",
        "description": "Add, update or remove the appointment's planning quantity.",
        "operationId": "AppointmentPlanningQuantity",
        "parameters": [
          {
            "name": "appointmentPlanningQuantity",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentPlanningQuantity"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentTimeMarker": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the appointment's time marker",
        "description": "Add, update or remove the appointment's time marker.",
        "operationId": "AppointmentTimemarker",
        "parameters": [
          {
            "name": "appointmentTimeMarker",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentTimeMarker"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/appointmentUri": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove an appointment link",
        "description": "Add, update or remove an appointment link.",
        "operationId": "AppointmentUri",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "appointmentUri",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/assignment": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove an assignment",
        "description": "Add, update or remove an assignment.",
        "operationId": "Assignment",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "assignment",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/assignment"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/caption": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a caption",
        "description": "Add, update or remove a caption.",
        "operationId": "Caption",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "caption",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/caption"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/container": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a container",
        "description": "Add, update or remove a container.",
        "operationId": "Container",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "container",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/container"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/filterGroup": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a filter group",
        "description": "Add, update or remove a flter group.",
        "operationId": "FilterGroup",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "filterGroup",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/filterGroup"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/filterValue": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a filter value",
        "description": "Add, update or remove a filter value.",
        "operationId": "FilterValue",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "filterValue",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/filterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/job": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a job",
        "description": "Add, update or remove a job.",
        "operationId": "Job",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "job",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/job"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/notification": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove notification",
        "description": "Add, update or remove notification.",
        "operationId": "Notification",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "notification",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/notification"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/resourceCalendar": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a calendar for a resource",
        "description": "Add, update or remove a calendar for a resource.",
        "operationId": "ResourceCalendar",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "resourceCalendar",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resourceCalendar"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/resourceCapacity": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the capacity of a resource",
        "description": "Add, update or remove the capacity of a resource.",
        "operationId": "ResourceCapacity",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "resourceCapacity",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resourceCapacity"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/resourceFilterValue": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the filter value of a resource",
        "description": "Add, update or remove the filter value of a resource.",
        "operationId": "ResourceFilterValue",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "resourceFilterValue",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resourceFilterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/resourceGpsTracking": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the live location of a resource",
        "description": "Add, update or remove the live location of a resource.",
        "operationId": "ResourceGpstracking",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "resourceGpsTracking",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resourceGpsTracking"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/resourceUri": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the uri of a resource",
        "description": "Add, update or remove the uri of a resource.",
        "operationId": "ResourceUri",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "resourceUri",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resourceUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/task": {
      "post": {
        "summary": "Add, update or remove a task",
        "description": "Add, update or remove a task.",
        "operationId": "Task",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "task",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/task"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/taskContainer": {
      "post": {
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a task container",
        "description": "Add, update or remove a task container.",
        "operationId": "TaskContainer",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "taskContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskContainer"
            }
          }
        ]
      }
    },
    "/taskFilterValue": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove a task filter value",
        "description": "Add, update or remove a task filter value.",
        "operationId": "TaskFiltervalue",
        "parameters": [
          {
            "name": "ds-append",
            "in": "header",
            "description": "Append",
            "type": "boolean",
            "x-ms-summary": "Append"
          },
          {
            "name": "taskFilterValue",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/taskFilterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    },
    "/taskLocked": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, update or remove the task's locked status",
        "description": "Add, update or remove the task's locked status.",
        "operationId": "TaskLocked",
        "parameters": [
          {
            "name": "taskLocked",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/taskLocked"
            },
            "description": "JSON request body containing the contents of the requested entity to be imported."
          }
        ]
      }
    }
  },
  "definitions": {
    "actionUri": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "uriType": {
          "format": "int32",
          "type": "integer"
        },
        "uri": {
          "type": "string"
        },
        "description": {
          "maxLength": 255,
          "type": "string"
        },
        "default": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "uriType": 0,
        "uri": "string",
        "description": "string",
        "default": true
      }
    },
    "appointment": {
      "type": "object",
      "properties": {
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "maxLength": 50,
          "type": "string"
        },
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "start": {
          "format": "date-time",
          "type": "string"
        },
        "end": {
          "format": "date-time",
          "type": "string"
        },
        "isAllDay": {
          "type": "boolean"
        },
        "timeMarker": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "importance": {
          "format": "int32",
          "type": "integer"
        },
        "locked": {
          "type": "boolean"
        },
        "replaceResource": {
          "type": "boolean"
        },
        "backOfficeId": {
          "maxLength": 100,
          "type": "string"
        },
        "backOfficeParentId": {
          "maxLength": 100,
          "type": "string"
        },
        "unitOfMeasure": {
          "maxLength": 20,
          "type": "string"
        },
        "unitOfMeasureConversion": {
          "format": "double",
          "type": "number"
        },
        "planningQuantity": {
          "format": "double",
          "type": "number"
        },
        "useFixedPlanningQuantity": {
          "type": "boolean"
        },
        "roundToUnitOfMeasure": {
          "type": "boolean"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "appointmentId": 0,
        "appointmentGuid": "string",
        "sourceApp": "string",
        "sourceType": "string",
        "jobNo": "string",
        "taskNo": "string",
        "resourceNo": "string",
        "subject": "string",
        "body": "string",
        "start": "string",
        "end": "string",
        "isAllDay": true,
        "timeMarker": "string",
        "category": "string",
        "importance": 0,
        "locked": true,
        "replaceResource": true,
        "backOfficeId": "string",
        "backOfficeParentId": "string",
        "unitOfMeasure": "string",
        "unitOfMeasureConversion": 0,
        "planningQuantity": 0,
        "useFixedPlanningQuantity": true,
        "roundToUnitOfMeasure": true,
        "sentFromBackOffice": true
      }
    },
    "appointmentCategory": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "category": {
          "maxLength": 100,
          "type": "string"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "category": "string",
        "appointmentGuid": "string",
        "sentFromBackOffice": true
      }
    },
    "appointmentContainer": {
      "type": "object",
      "properties": {
        "container": {
          "maxLength": 100,
          "type": "string"
        },
        "appointment": {
          "maxLength": 100,
          "type": "string"
        }
      },
      "example": {
        "container": "string",
        "appointment": "string"
      }
    },
    "appointmentContent": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        },
        "subject": {
          "type": "string"
        },
        "body": {
          "type": "string"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "appointmentGuid": "string",
        "sentFromBackOffice": true,
        "subject": "string",
        "body": "string"
      }
    },
    "appointmentImportance": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "importance": {
          "format": "int32",
          "type": "integer"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "importance": 0,
        "appointmentGuid": "string",
        "sentFromBackOffice": true
      }
    },
    "appointmentLocked": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "locked": {
          "type": "boolean"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "locked": true,
        "appointmentGuid": "string",
        "sentFromBackOffice": true
      }
    },
    "appointmentPlanningQuantity": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "quantity": {
          "format": "double",
          "type": "number"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "quantity": 0,
        "appointmentGuid": "string",
        "sentFromBackOffice": true
      }
    },
    "appointmentTimeMarker": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "timeMarker": {
          "maxLength": 100,
          "type": "string"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "timeMarker": "string",
        "appointmentGuid": "string",
        "sentFromBackOffice": true
      }
    },
    "appointmentUri": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "uri": {
          "maxLength": 1000,
          "type": "string"
        },
        "description": {
          "maxLength": 255,
          "type": "string"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "appointmentGuid": "string",
        "uri": "string",
        "description": "string"
      }
    },
    "assignment": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "appointmentGuid": "string",
        "resourceNo": "string",
        "sentFromBackOffice": true
      }
    },
    "caption": {
      "type": "object",
      "properties": {
        "context": {
          "format": "int32",
          "type": "integer"
        },
        "sourceTable": {
          "maxLength": 255,
          "type": "string"
        },
        "fieldName": {
          "maxLength": 255,
          "type": "string"
        },
        "language": {
          "maxLength": 10,
          "type": "string"
        },
        "text": {
          "maxLength": 100,
          "type": "string"
        }
      },
      "example": {
        "context": 0,
        "sourceTable": "string",
        "fieldName": "string",
        "language": "string",
        "text": "string"
      }
    },
    "category": {
      "type": "object",
      "properties": {
        "name": {
          "maxLength": 100,
          "type": "string"
        },
        "displayName": {
          "maxLength": 100,
          "type": "string"
        },
        "color": {
          "maxLength": 7,
          "type": "string"
        }
      },
      "example": {
        "name": "string",
        "displayName": "string",
        "color": "string"
      }
    },
    "container": {
      "type": "object",
      "properties": {
        "name": {
          "maxLength": 100,
          "type": "string"
        },
        "handleDate": {
          "format": "date-time",
          "type": "string"
        },
        "handleLocked": {
          "type": "boolean"
        }
      },
      "example": {
        "name": "string",
        "handleDate": "string",
        "handleLocked": true
      }
    },
    "filterGroup": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "maxLength": 50,
          "type": "string"
        },
        "columnNo": {
          "format": "int32",
          "type": "integer"
        },
        "dataFilter": {
          "type": "boolean"
        }
      },
      "example": {
        "id": 0,
        "name": "string",
        "columnNo": 0,
        "dataFilter": true
      }
    },
    "filterValue": {
      "type": "object",
      "properties": {
        "group": {
          "maxLength": 50,
          "type": "string"
        },
        "value": {
          "maxLength": 100,
          "type": "string"
        }
      },
      "example": {
        "group": "string",
        "value": "string"
      }
    },
    "job": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "maxLength": 50,
          "type": "string"
        },
        "shortDescription": {
          "maxLength": 50,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "maxLength": 50,
          "type": "string"
        },
        "name": {
          "maxLength": 255,
          "type": "string"
        },
        "category": {
          "maxLength": 100,
          "type": "string"
        },
        "timeMarker": {
          "maxLength": 100,
          "type": "string"
        },
        "pin": {
          "maxLength": 100,
          "type": "string"
        },
        "customerNo": {
          "maxLength": 20,
          "type": "string"
        },
        "customerName": {
          "maxLength": 50,
          "type": "string"
        },
        "customerAddress": {
          "type": "string"
        },
        "customerAddressGeoLong": {
          "maxLength": 50,
          "type": "string"
        },
        "customerAddressGeoLat": {
          "maxLength": 50,
          "type": "string"
        },
        "customerPhone": {
          "maxLength": 50,
          "type": "string"
        },
        "customerEmail": {
          "maxLength": 50,
          "type": "string"
        },
        "contactNo": {
          "maxLength": 20,
          "type": "string"
        },
        "contactName": {
          "maxLength": 50,
          "type": "string"
        },
        "contactAddress": {
          "type": "string"
        },
        "contactAddressGeoLong": {
          "maxLength": 50,
          "type": "string"
        },
        "contactAddressGeoLat": {
          "maxLength": 50,
          "type": "string"
        },
        "contactPhone": {
          "maxLength": 50,
          "type": "string"
        },
        "contactEmail": {
          "maxLength": 50,
          "type": "string"
        },
        "siteNo": {
          "maxLength": 20,
          "type": "string"
        },
        "siteName": {
          "maxLength": 50,
          "type": "string"
        },
        "siteAddress": {
          "type": "string"
        },
        "siteAddressGeoLong": {
          "maxLength": 50,
          "type": "string"
        },
        "siteAddressGeoLat": {
          "maxLength": 50,
          "type": "string"
        },
        "sitePhone": {
          "maxLength": 50,
          "type": "string"
        },
        "siteEmail": {
          "maxLength": 50,
          "type": "string"
        },
        "siteRegion": {
          "maxLength": 10,
          "type": "string"
        },
        "siteStreet": {
          "maxLength": 255,
          "type": "string"
        },
        "siteStreetNo": {
          "maxLength": 20,
          "type": "string"
        },
        "sitePostcode": {
          "maxLength": 20,
          "type": "string"
        },
        "siteCity": {
          "maxLength": 50,
          "type": "string"
        },
        "siteCounty": {
          "maxLength": 50,
          "type": "string"
        },
        "siteState": {
          "maxLength": 50,
          "type": "string"
        },
        "siteCountry": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromNo": {
          "maxLength": 20,
          "type": "string"
        },
        "siteFromName": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromAddress": {
          "type": "string"
        },
        "siteFromAddressGeoLong": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromAddressGeoLat": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromPhone": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromEmail": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromRegion": {
          "maxLength": 10,
          "type": "string"
        },
        "siteFromStreet": {
          "maxLength": 255,
          "type": "string"
        },
        "siteFromStreetNo": {
          "maxLength": 20,
          "type": "string"
        },
        "siteFromPostcode": {
          "maxLength": 20,
          "type": "string"
        },
        "siteFromCity": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromCounty": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromState": {
          "maxLength": 50,
          "type": "string"
        },
        "siteFromCountry": {
          "maxLength": 50,
          "type": "string"
        },
        "billNo": {
          "maxLength": 20,
          "type": "string"
        },
        "billName": {
          "maxLength": 50,
          "type": "string"
        },
        "billAddress": {
          "type": "string"
        },
        "billAddressGeoLong": {
          "maxLength": 50,
          "type": "string"
        },
        "billAddressGeoLat": {
          "maxLength": 50,
          "type": "string"
        },
        "billPhone": {
          "maxLength": 50,
          "type": "string"
        },
        "billEmail": {
          "maxLength": 50,
          "type": "string"
        },
        "billRegion": {
          "maxLength": 10,
          "type": "string"
        },
        "importance": {
          "format": "int32",
          "default": 0,
          "enum": [0, 1, 2],
          "type": "integer"
        },
        "creationDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "customerReference": {
          "maxLength": 50,
          "type": "string"
        },
        "language": {
          "maxLength": 10,
          "type": "string"
        },
        "responsible": {
          "maxLength": 50,
          "type": "string"
        },
        "creator": {
          "maxLength": 50,
          "type": "string"
        },
        "freeText1": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText2": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText3": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText4": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText5": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText6": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText7": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText8": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText9": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText10": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText11": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText12": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText13": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText14": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText15": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText16": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText17": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText18": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText19": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText20": {
          "maxLength": 100,
          "type": "string"
        },
        "freeDecimal1": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal2": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal3": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal4": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal5": {
          "format": "double",
          "type": "number"
        },
        "freeDate1": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate2": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate3": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate4": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate5": {
          "format": "date-time",
          "type": "string"
        },
        "freeBit1": {
          "type": "boolean"
        },
        "freeBit2": {
          "type": "boolean"
        },
        "freeBit3": {
          "type": "boolean"
        },
        "freeBit4": {
          "type": "boolean"
        },
        "freeBit5": {
          "type": "boolean"
        },
        "enableManualSelection": {
          "type": "boolean"
        },
        "availableInGantt": {
          "type": "boolean"
        },
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        },
        "allowDependencies": {
          "type": "boolean"
        },
        "note": {
          "type": "string"
        },
        "overRuleGanttPlanning": {
          "type": "boolean"
        },
        "checkAppointments": {
          "type": "boolean"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "jobNo": "string",
        "shortDescription": "string",
        "description": "string",
        "type": "string",
        "name": "string",
        "category": "string",
        "timeMarker": "string",
        "pin": "string",
        "customerNo": "string",
        "customerName": "string",
        "customerAddress": "string",
        "customerAddressGeoLong": "string",
        "customerAddressGeoLat": "string",
        "customerPhone": "string",
        "customerEmail": "string",
        "contactNo": "string",
        "contactName": "string",
        "contactAddress": "string",
        "contactAddressGeoLong": "string",
        "contactAddressGeoLat": "string",
        "contactPhone": "string",
        "contactEmail": "string",
        "siteNo": "string",
        "siteName": "string",
        "siteAddress": "string",
        "siteAddressGeoLong": "string",
        "siteAddressGeoLat": "string",
        "sitePhone": "string",
        "siteEmail": "string",
        "siteRegion": "string",
        "siteStreet": "string",
        "siteStreetNo": "string",
        "sitePostcode": "string",
        "siteCity": "string",
        "siteCounty": "string",
        "siteState": "string",
        "siteCountry": "string",
        "siteFromNo": "string",
        "siteFromName": "string",
        "siteFromAddress": "string",
        "siteFromAddressGeoLong": "string",
        "siteFromAddressGeoLat": "string",
        "siteFromPhone": "string",
        "siteFromEmail": "string",
        "siteFromRegion": "string",
        "siteFromStreet": "string",
        "siteFromStreetNo": "string",
        "siteFromPostcode": "string",
        "siteFromCity": "string",
        "siteFromCounty": "string",
        "siteFromState": "string",
        "siteFromCountry": "string",
        "billNo": "string",
        "billName": "string",
        "billAddress": "string",
        "billAddressGeoLong": "string",
        "billAddressGeoLat": "string",
        "billPhone": "string",
        "billEmail": "string",
        "billRegion": "string",
        "importance": 0,
        "creationDateTime": "string",
        "customerReference": "string",
        "language": "string",
        "responsible": "string",
        "creator": "string",
        "freeText1": "string",
        "freeText2": "string",
        "freeText3": "string",
        "freeText4": "string",
        "freeText5": "string",
        "freeText6": "string",
        "freeText7": "string",
        "freeText8": "string",
        "freeText9": "string",
        "freeText10": "string",
        "freeText11": "string",
        "freeText12": "string",
        "freeText13": "string",
        "freeText14": "string",
        "freeText15": "string",
        "freeText16": "string",
        "freeText17": "string",
        "freeText18": "string",
        "freeText19": "string",
        "freeText20": "string",
        "freeDecimal1": 0,
        "freeDecimal2": 0,
        "freeDecimal3": 0,
        "freeDecimal4": 0,
        "freeDecimal5": 0,
        "freeDate1": "string",
        "freeDate2": "string",
        "freeDate3": "string",
        "freeDate4": "string",
        "freeDate5": "string",
        "freeBit1": true,
        "freeBit2": true,
        "freeBit3": true,
        "freeBit4": true,
        "freeBit5": true,
        "enableManualSelection": true,
        "availableInGantt": true,
        "startDate": "string",
        "endDate": "string",
        "allowDependencies": true,
        "note": "string",
        "overRuleGanttPlanning": true,
        "checkAppointments": true,
        "sentFromBackOffice": true
      }
    },
    "notification": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "appointmentId": {
          "format": "int64",
          "type": "integer"
        },
        "connectorId": {
          "maxLength": 50,
          "type": "string"
        },
        "type": {
          "format": "int32",
          "default": 0,
          "enum": [0, 1, 2],
          "type": "integer"
        },
        "code": {
          "maxLength": 20,
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "jobNo": {
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "maxLength": 50,
          "type": "string"
        },
        "appointmentGuid": {
          "format": "uuid",
          "type": "string"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentId": 0,
        "connectorId": "string",
        "type": 0,
        "code": "string",
        "text": "string",
        "date": "string",
        "jobNo": "string",
        "taskNo": "string",
        "appointmentGuid": "string",
        "sentFromBackOffice": true
      }
    },
    "pin": {
      "type": "object",
      "properties": {
        "name": {
          "maxLength": 100,
          "type": "string"
        },
        "color": {
          "maxLength": 7,
          "type": "string"
        }
      },
      "example": {
        "name": "string",
        "color": "string"
      }
    },
    "resource": {
      "type": "object",
      "properties": {
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "resourceType": {
          "maxLength": 100,
          "type": "string"
        },
        "resourceTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "resourceName": {
          "maxLength": 100,
          "type": "string"
        },
        "displayName": {
          "maxLength": 100,
          "type": "string"
        },
        "department": {
          "maxLength": 50,
          "type": "string"
        },
        "email": {
          "maxLength": 100,
          "type": "string"
        },
        "phone": {
          "maxLength": 50,
          "type": "string"
        },
        "mobilePhone": {
          "maxLength": 50,
          "type": "string"
        },
        "replacementResource": {
          "type": "boolean"
        },
        "fieldServiceEmail": {
          "maxLength": 100,
          "type": "string"
        },
        "personalEmail": {
          "maxLength": 100,
          "type": "string"
        },
        "gpsTrackingResourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "homeAddress": {
          "type": "string"
        },
        "homeAddressGeoLong": {
          "format": "float",
          "type": "number"
        },
        "homeAddressGeoLat": {
          "format": "float",
          "type": "number"
        },
        "homePhone": {
          "maxLength": 50,
          "type": "string"
        },
        "homeEmail": {
          "maxLength": 50,
          "type": "string"
        },
        "homeStreet": {
          "maxLength": 255,
          "type": "string"
        },
        "homeStreetNo": {
          "maxLength": 20,
          "type": "string"
        },
        "homePostcode": {
          "maxLength": 20,
          "type": "string"
        },
        "homeCity": {
          "maxLength": 50,
          "type": "string"
        },
        "homeCounty": {
          "maxLength": 50,
          "type": "string"
        },
        "homeState": {
          "maxLength": 50,
          "type": "string"
        },
        "homeCountry": {
          "maxLength": 50,
          "type": "string"
        },
        "homeRegion": {
          "maxLength": 10,
          "type": "string"
        },
        "teamCode": {
          "maxLength": 20,
          "type": "string"
        },
        "teamName": {
          "maxLength": 100,
          "type": "string"
        },
        "teamType": {
          "maxLength": 20,
          "type": "string"
        },
        "teamSort": {
          "format": "int32",
          "type": "integer"
        },
        "teamMemberType": {
          "maxLength": 20,
          "type": "string"
        },
        "teamMemberSort": {
          "format": "int32",
          "type": "integer"
        },
        "doNotShow": {
          "type": "boolean"
        },
        "inServiceFrom": {
          "format": "date-time",
          "type": "string"
        },
        "inServiceTill": {
          "format": "date-time",
          "type": "string"
        },
        "exchangeIntegrationEnabled": {
          "type": "boolean"
        },
        "url1": {
          "maxLength": 1000,
          "type": "string"
        },
        "urlDescription1": {
          "maxLength": 255,
          "type": "string"
        },
        "url2": {
          "maxLength": 1000,
          "type": "string"
        },
        "urlDescription2": {
          "maxLength": 255,
          "type": "string"
        },
        "url3": {
          "maxLength": 1000,
          "type": "string"
        },
        "urlDescription3": {
          "maxLength": 255,
          "type": "string"
        },
        "bulkPlanning": {
          "type": "boolean"
        },
        "bulkCapacity": {
          "format": "double",
          "type": "number"
        },
        "resourceGpsTrackingEnabled": {
          "type": "boolean"
        },
        "pin": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText1": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText2": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText3": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText4": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText5": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText6": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText7": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText8": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText9": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText10": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText11": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText12": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText13": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText14": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText15": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText16": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText17": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText18": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText19": {
          "maxLength": 100,
          "type": "string"
        },
        "freeText20": {
          "maxLength": 100,
          "type": "string"
        },
        "freeDecimal1": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal2": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal3": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal4": {
          "format": "double",
          "type": "number"
        },
        "freeDecimal5": {
          "format": "double",
          "type": "number"
        },
        "freeDate1": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate2": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate3": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate4": {
          "format": "date-time",
          "type": "string"
        },
        "freeDate5": {
          "format": "date-time",
          "type": "string"
        },
        "freeBit1": {
          "type": "boolean"
        },
        "freeBit2": {
          "type": "boolean"
        },
        "freeBit3": {
          "type": "boolean"
        },
        "freeBit4": {
          "type": "boolean"
        },
        "freeBit5": {
          "type": "boolean"
        }
      },
      "example": {
        "resourceNo": "string",
        "sourceApp": "string",
        "sourceType": "string",
        "resourceType": "string",
        "resourceTypeId": 0,
        "resourceName": "string",
        "displayName": "string",
        "department": "string",
        "email": "string",
        "phone": "string",
        "mobilePhone": "string",
        "replacementResource": true,
        "fieldServiceEmail": "string",
        "personalEmail": "string",
        "gpsTrackingResourceNo": "string",
        "homeAddress": "string",
        "homeAddressGeoLong": 0,
        "homeAddressGeoLat": 0,
        "homePhone": "string",
        "homeEmail": "string",
        "homeStreet": "string",
        "homeStreetNo": "string",
        "homePostcode": "string",
        "homeCity": "string",
        "homeCounty": "string",
        "homeState": "string",
        "homeCountry": "string",
        "homeRegion": "string",
        "teamCode": "string",
        "teamName": "string",
        "teamType": "string",
        "teamSort": 0,
        "teamMemberType": "string",
        "teamMemberSort": 0,
        "doNotShow": true,
        "inServiceFrom": "string",
        "inServiceTill": "string",
        "exchangeIntegrationEnabled": true,
        "url1": "string",
        "urlDescription1": "string",
        "url2": "string",
        "urlDescription2": "string",
        "url3": "string",
        "urlDescription3": "string",
        "bulkPlanning": true,
        "bulkCapacity": 0,
        "resourceGpsTrackingEnabled": true,
        "pin": "string",
        "freeText1": "string",
        "freeText2": "string",
        "freeText3": "string",
        "freeText4": "string",
        "freeText5": "string",
        "freeText6": "string",
        "freeText7": "string",
        "freeText8": "string",
        "freeText9": "string",
        "freeText10": "string",
        "freeText11": "string",
        "freeText12": "string",
        "freeText13": "string",
        "freeText14": "string",
        "freeText15": "string",
        "freeText16": "string",
        "freeText17": "string",
        "freeText18": "string",
        "freeText19": "string",
        "freeText20": "string",
        "freeDecimal1": 0,
        "freeDecimal2": 0,
        "freeDecimal3": 0,
        "freeDecimal4": 0,
        "freeDecimal5": 0,
        "freeDate1": "string",
        "freeDate2": "string",
        "freeDate3": "string",
        "freeDate4": "string",
        "freeDate5": "string",
        "freeBit1": true,
        "freeBit2": true,
        "freeBit3": true,
        "freeBit4": true,
        "freeBit5": true
      }
    },
    "resourceCalendar": {
      "type": "object",
      "properties": {
        "code": {
          "maxLength": 50,
          "type": "string"
        },
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "calendarCode": {
          "maxLength": 255,
          "type": "string"
        },
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        }
      },
      "example": {
        "code": "string",
        "resourceNo": "string",
        "calendarCode": "string",
        "startDate": "string",
        "endDate": "string"
      }
    },
    "resourceCapacity": {
      "type": "object",
      "properties": {
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "capacityInSeconds": {
          "format": "int64",
          "type": "integer"
        },
        "quantity": {
          "format": "double",
          "type": "number"
        },
        "unitOfMeasure": {
          "maxLength": 20,
          "type": "string"
        },
        "unitOfMeasureConversion": {
          "format": "double",
          "type": "number"
        }
      },
      "example": {
        "resourceNo": "string",
        "date": "string",
        "capacityInSeconds": 0,
        "quantity": 0,
        "unitOfMeasure": "string",
        "unitOfMeasureConversion": 0
      }
    },
    "resourceCertificate": {
      "type": "object",
      "properties": {
        "resourceNo": {
          "type": "string"
        },
        "no": {
          "type": "string"
        },
        "score": {
          "type": "string"
        },
        "lastScoreDate": {
          "format": "date-time",
          "type": "string"
        },
        "validUntil": {
          "format": "date-time",
          "type": "string"
        }
      },
      "example": {
        "resourceNo": "string",
        "no": "string",
        "score": "string",
        "lastScoreDate": "string",
        "validUntil": "string"
      }
    },
    "resourceFilterValue": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "type": "string"
        },
        "sourceType": {
          "type": "string"
        },
        "resourceNo": {
          "type": "string"
        },
        "filterGroup": {
          "type": "string"
        },
        "filterValue": {
          "type": "string"
        },
        "transferToTemp": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "resourceNo": "string",
        "filterGroup": "string",
        "filterValue": "string",
        "transferToTemp": true
      }
    },
    "resourceGpsTracking": {
      "type": "object",
      "properties": {
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "gpsTrackingResourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "type": "number"
        },
        "speed": {
          "format": "int32",
          "type": "integer"
        },
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "rowId": {
          "maxLength": 100,
          "type": "string"
        },
        "power": {
          "maxLength": 50,
          "type": "string"
        }
      },
      "example": {
        "resourceNo": "string",
        "gpsTrackingResourceNo": "string",
        "latitude": 0,
        "longitude": 0,
        "speed": 0,
        "date": "string",
        "rowId": "string",
        "power": "string"
      }
    },
    "resourceUri": {
      "type": "object",
      "properties": {
        "resourceNo": {
          "maxLength": 50,
          "type": "string"
        },
        "uri": {
          "maxLength": 1000,
          "type": "string"
        },
        "description": {
          "maxLength": 255,
          "type": "string"
        }
      },
      "example": {
        "resourceNo": "string",
        "uri": "string",
        "description": "string"
      }
    },
    "task": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "x-ms-summary": "Job no.",
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "x-ms-summary": "Task no.",
          "maxLength": 50,
          "type": "string"
        },
        "taskType": {
          "x-ms-summary": "Task type",
          "format": "int32",
          "default": 0,
          "enum": [0, 1],
          "type": "integer"
        },
        "shortDescription": {
          "x-ms-summary": "Short description",
          "maxLength": 50,
          "type": "string"
        },
        "description": {
          "x-ms-summary": "Description",
          "maxLength": 200,
          "type": "string"
        },
        "name": {
          "x-ms-summary": "Name",
          "maxLength": 255,
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Type",
          "maxLength": 20,
          "type": "string"
        },
        "category": {
          "x-ms-summary": "Category",
          "maxLength": 100,
          "type": "string"
        },
        "timeMarker": {
          "x-ms-summary": "Time marker",
          "maxLength": 100,
          "type": "string"
        },
        "pin": {
          "x-ms-summary": "Pin",
          "maxLength": 100,
          "type": "string"
        },
        "serviceNo": {
          "x-ms-summary": "Service no.",
          "maxLength": 50,
          "type": "string"
        },
        "serviceGroup": {
          "x-ms-summary": "Service group",
          "maxLength": 20,
          "type": "string"
        },
        "serviceClass": {
          "x-ms-summary": "Service class",
          "maxLength": 20,
          "type": "string"
        },
        "serviceSerialNo": {
          "x-ms-summary": "Service serial no.",
          "maxLength": 50,
          "type": "string"
        },
        "serviceName": {
          "x-ms-summary": "Service name",
          "maxLength": 50,
          "type": "string"
        },
        "irisFault": {
          "x-ms-summary": "IRIS fault",
          "maxLength": 10,
          "type": "string"
        },
        "irisSymptom": {
          "x-ms-summary": "IRIS symptom",
          "maxLength": 10,
          "type": "string"
        },
        "irisArea": {
          "x-ms-summary": "IRIS area",
          "maxLength": 10,
          "type": "string"
        },
        "irisReason": {
          "x-ms-summary": "IRIS reason",
          "maxLength": 10,
          "type": "string"
        },
        "irisResolution": {
          "x-ms-summary": "IRIS resolution",
          "maxLength": 10,
          "type": "string"
        },
        "skill1": {
          "x-ms-summary": "Skill #1",
          "maxLength": 10,
          "type": "string"
        },
        "skill2": {
          "x-ms-summary": "Skill #2",
          "maxLength": 10,
          "type": "string"
        },
        "skill3": {
          "x-ms-summary": "Skill #3",
          "maxLength": 10,
          "type": "string"
        },
        "contractNo": {
          "x-ms-summary": "Contract number",
          "maxLength": 20,
          "type": "string"
        },
        "contractType": {
          "x-ms-summary": "Contract type",
          "maxLength": 30,
          "type": "string"
        },
        "contractDescription": {
          "x-ms-summary": "Contract description",
          "type": "string"
        },
        "contractStartDate": {
          "x-ms-summary": "Contract start date",
          "format": "date-time",
          "type": "string"
        },
        "contractEndDate": {
          "x-ms-summary": "Contract end date",
          "format": "date-time",
          "type": "string"
        },
        "partsWarrantyStartDate": {
          "x-ms-summary": "Parts warranty start date",
          "format": "date-time",
          "type": "string"
        },
        "partsWarrantyEndDate": {
          "x-ms-summary": "Parts warranty end date",
          "format": "date-time",
          "type": "string"
        },
        "laborWarrantyStartDate": {
          "x-ms-summary": "Labor warranty start date",
          "format": "date-time",
          "type": "string"
        },
        "laborWarrantyEndDate": {
          "x-ms-summary": "Labor warranty end date",
          "format": "date-time",
          "type": "string"
        },
        "importance": {
          "x-ms-summary": "Importance",
          "format": "int32",
          "default": 0,
          "enum": [0, 1, 2],
          "type": "integer"
        },
        "status": {
          "x-ms-summary": "Status",
          "maxLength": 20,
          "type": "string"
        },
        "expectedResponseDateTime": {
          "x-ms-summary": "Expected response date",
          "format": "date-time",
          "type": "string"
        },
        "actualResponseDateTime": {
          "x-ms-summary": "Actual response date",
          "format": "date-time",
          "type": "string"
        },
        "requestedStartDate": {
          "x-ms-summary": "Requested start date",
          "format": "date-time",
          "type": "string"
        },
        "requestedEndDate": {
          "x-ms-summary": "Requested end date",
          "format": "date-time",
          "type": "string"
        },
        "requestedStartTime": {
          "x-ms-summary": "Requested start time",
          "type": "string"
        },
        "requestedEndTime": {
          "x-ms-summary": "Requested end time",
          "type": "string"
        },
        "confirmedStartDate": {
          "x-ms-summary": "Confirmed start date",
          "format": "date-time",
          "type": "string"
        },
        "confirmedEndDate": {
          "x-ms-summary": "Confirmed end date",
          "format": "date-time",
          "type": "string"
        },
        "actualStartDate": {
          "x-ms-summary": "Actual start date",
          "format": "date-time",
          "type": "string"
        },
        "actualEndDate": {
          "x-ms-summary": "Actual end date",
          "format": "date-time",
          "type": "string"
        },
        "locationDescription": {
          "x-ms-summary": "Location description",
          "type": "string"
        },
        "duration": {
          "x-ms-summary": "Duration",
          "type": "string"
        },
        "durationInSeconds": {
          "x-ms-summary": "Duration in seconds",
          "format": "int64",
          "type": "integer"
        },
        "subject": {
          "x-ms-summary": "Subject",
          "type": "string"
        },
        "body": {
          "x-ms-summary": "Body",
          "type": "string"
        },
        "infiniteTask": {
          "x-ms-summary": "Is infinite task",
          "type": "boolean"
        },
        "taskOpenAsOf": {
          "x-ms-summary": "Open the task from",
          "format": "date-time",
          "type": "string"
        },
        "taskOpenTill": {
          "x-ms-summary": "Open the task until",
          "format": "date-time",
          "type": "string"
        },
        "requiredTotalDuration": {
          "x-ms-summary": "Required total duration",
          "type": "string"
        },
        "requiredNoResources": {
          "x-ms-summary": "Required number of resources",
          "format": "int32",
          "type": "integer"
        },
        "appointmentEarliestAllowed": {
          "x-ms-summary": "Earliest allowed time",
          "format": "date-time",
          "type": "string"
        },
        "appointmentLatestAllowed": {
          "x-ms-summary": "Latest allowed time",
          "format": "date-time",
          "type": "string"
        },
        "freeText1": {
          "x-ms-summary": "Free text field #1",
          "maxLength": 100,
          "type": "string"
        },
        "freeText2": {
          "x-ms-summary": "Free text field #2",
          "maxLength": 100,
          "type": "string"
        },
        "freeText3": {
          "x-ms-summary": "Free text field #3",
          "maxLength": 100,
          "type": "string"
        },
        "freeText4": {
          "x-ms-summary": "Free text field #4",
          "maxLength": 100,
          "type": "string"
        },
        "freeText5": {
          "x-ms-summary": "Free text field #5",
          "maxLength": 100,
          "type": "string"
        },
        "freeText6": {
          "x-ms-summary": "Free text field #6",
          "maxLength": 100,
          "type": "string"
        },
        "freeText7": {
          "x-ms-summary": "Free text field #7",
          "maxLength": 100,
          "type": "string"
        },
        "freeText8": {
          "x-ms-summary": "Free text field #8",
          "maxLength": 100,
          "type": "string"
        },
        "freeText9": {
          "x-ms-summary": "Free text field #9",
          "maxLength": 100,
          "type": "string"
        },
        "freeText10": {
          "x-ms-summary": "Free text field #10",
          "maxLength": 100,
          "type": "string"
        },
        "freeText11": {
          "x-ms-summary": "Free text field #11",
          "maxLength": 100,
          "type": "string"
        },
        "freeText12": {
          "x-ms-summary": "Free text field #12",
          "maxLength": 100,
          "type": "string"
        },
        "freeText13": {
          "x-ms-summary": "Free text field #13",
          "maxLength": 100,
          "type": "string"
        },
        "freeText14": {
          "x-ms-summary": "Free text field #14",
          "maxLength": 100,
          "type": "string"
        },
        "freeText15": {
          "x-ms-summary": "Free text field #15",
          "maxLength": 100,
          "type": "string"
        },
        "freeText16": {
          "x-ms-summary": "Free text field #16",
          "maxLength": 100,
          "type": "string"
        },
        "freeText17": {
          "x-ms-summary": "Free text field #17",
          "maxLength": 100,
          "type": "string"
        },
        "freeText18": {
          "x-ms-summary": "Free text field #18",
          "maxLength": 100,
          "type": "string"
        },
        "freeText19": {
          "x-ms-summary": "Free text field #19",
          "maxLength": 100,
          "type": "string"
        },
        "freeText20": {
          "x-ms-summary": "Free text field #20",
          "maxLength": 100,
          "type": "string"
        },
        "freeDecimal1": {
          "x-ms-summary": "Free decimal field #1",
          "format": "double",
          "type": "number"
        },
        "freeDecimal2": {
          "x-ms-summary": "Free decimal field #2",
          "format": "double",
          "type": "number"
        },
        "freeDecimal3": {
          "x-ms-summary": "Free decimal field #3",
          "format": "double",
          "type": "number"
        },
        "freeDecimal4": {
          "x-ms-summary": "Free decimal field #4",
          "format": "double",
          "type": "number"
        },
        "freeDecimal5": {
          "x-ms-summary": "Free decimal field #5",
          "format": "double",
          "type": "number"
        },
        "freeDate1": {
          "x-ms-summary": "Free date field #1",
          "format": "date-time",
          "type": "string"
        },
        "freeDate2": {
          "x-ms-summary": "Free date field #2",
          "format": "date-time",
          "type": "string"
        },
        "freeDate3": {
          "x-ms-summary": "Free date field #3",
          "format": "date-time",
          "type": "string"
        },
        "freeDate4": {
          "x-ms-summary": "Free date field #4",
          "format": "date-time",
          "type": "string"
        },
        "freeDate5": {
          "x-ms-summary": "Free date field #5",
          "format": "date-time",
          "type": "string"
        },
        "freeBit1": {
          "x-ms-summary": "Free boolean field #1",
          "type": "boolean"
        },
        "freeBit2": {
          "x-ms-summary": "Free boolean field #2",
          "type": "boolean"
        },
        "freeBit3": {
          "x-ms-summary": "Free boolean field #3",
          "type": "boolean"
        },
        "freeBit4": {
          "x-ms-summary": "Free boolean field #4",
          "type": "boolean"
        },
        "freeBit5": {
          "x-ms-summary": "Free boolean field #5",
          "type": "boolean"
        },
        "url1": {
          "x-ms-summary": "URL 1",
          "maxLength": 1000,
          "type": "string"
        },
        "urlDescription1": {
          "x-ms-summary": "URL 1 description",
          "maxLength": 255,
          "type": "string"
        },
        "url2": {
          "x-ms-summary": "URL 2",
          "maxLength": 1000,
          "type": "string"
        },
        "urlDescription2": {
          "x-ms-summary": "URL 2 description",
          "maxLength": 255,
          "type": "string"
        },
        "url3": {
          "x-ms-summary": "URL 3",
          "maxLength": 1000,
          "type": "string"
        },
        "urlDescription3": {
          "x-ms-summary": "URL 3 description",
          "maxLength": 255,
          "type": "string"
        },
        "certificateNo": {
          "x-ms-summary": "Certificate no.",
          "type": "string"
        },
        "requiredTotalDurationInSeconds": {
          "x-ms-summary": "Required total duration (in seconds)",
          "format": "int64",
          "type": "integer"
        },
        "doNotCountAppointmentResource": {
          "x-ms-summary": "Do not count appointment resources",
          "type": "boolean"
        },
        "isComplete": {
          "x-ms-summary": "Is complete",
          "type": "boolean"
        },
        "planningUOM": {
          "x-ms-summary": "Planning UOM",
          "maxLength": 20,
          "type": "string"
        },
        "planningUOMConversion": {
          "x-ms-summary": "Planning UOM conversion",
          "format": "double",
          "type": "number"
        },
        "planningQty": {
          "x-ms-summary": "Planning quantity",
          "format": "double",
          "type": "number"
        },
        "useFixPlanningQty": {
          "x-ms-summary": "Use fixed planning quantity",
          "type": "boolean"
        },
        "roundToUOM": {
          "x-ms-summary": "Round to UOM",
          "type": "boolean"
        },
        "appointmentTemplate": {
          "x-ms-summary": "Appointment template",
          "maxLength": 100,
          "type": "string"
        },
        "bulkPlanningQty": {
          "x-ms-summary": "Bulk planning quantity",
          "format": "double",
          "type": "number"
        },
        "startDate": {
          "x-ms-summary": "Start date",
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "x-ms-summary": "End date",
          "format": "date-time",
          "type": "string"
        },
        "percentDone": {
          "x-ms-summary": "Percentage done",
          "format": "int32",
          "type": "integer"
        },
        "schedulingMode": {
          "x-ms-summary": "Scheduling mode",
          "format": "int32",
          "default": 0,
          "enum": [0, 1, 2, 3],
          "type": "integer"
        },
        "baseLineStartDate": {
          "x-ms-summary": "Baseline start date",
          "format": "date-time",
          "type": "string"
        },
        "baseLineEndDate": {
          "x-ms-summary": "Baseline end date",
          "format": "date-time",
          "type": "string"
        },
        "baseLinePercentDone": {
          "x-ms-summary": "Baseline percent done",
          "format": "int32",
          "type": "integer"
        },
        "deadLine": {
          "x-ms-summary": "Deadline",
          "format": "date-time",
          "type": "string"
        },
        "index": {
          "x-ms-summary": "Index",
          "format": "int32",
          "type": "integer"
        },
        "constraintType": {
          "x-ms-summary": "Constraint type",
          "format": "int32",
          "type": "integer"
        },
        "constraintDatetime": {
          "x-ms-summary": "Constraint datetime",
          "format": "date-time",
          "type": "string"
        },
        "parentTaskNo": {
          "x-ms-summary": "Parent task no.",
          "maxLength": 50,
          "type": "string"
        },
        "calendarCode": {
          "x-ms-summary": "Calendar code",
          "maxLength": 255,
          "type": "string"
        },
        "predecessorTaskNo": {
          "x-ms-summary": "Predecessor task no.",
          "maxLength": 50,
          "type": "string"
        },
        "predecessorLag": {
          "x-ms-summary": "Predecessor lag",
          "format": "int32",
          "type": "integer"
        },
        "manuallyScheduled": {
          "x-ms-summary": "Manually scheduled",
          "type": "boolean"
        },
        "note": {
          "x-ms-summary": "Note",
          "type": "string"
        },
        "overRuleGanttPlanning": {
          "x-ms-summary": "Overrule Gantt planning",
          "type": "boolean"
        },
        "ignoreCalendars": {
          "x-ms-summary": "Ignore calendars",
          "type": "boolean"
        },
        "containerName": {
          "x-ms-summary": "Container name",
          "maxLength": 255,
          "type": "string"
        },
        "containerIndex": {
          "x-ms-summary": "Container index",
          "format": "int32",
          "type": "integer"
        },
        "checkAppointments": {
          "x-ms-summary": "Check appointments",
          "type": "boolean"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back-office",
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "jobNo": "string",
        "taskNo": "string",
        "taskType": 0,
        "shortDescription": "string",
        "description": "string",
        "name": "string",
        "type": "string",
        "category": "string",
        "timeMarker": "string",
        "pin": "string",
        "serviceNo": "string",
        "serviceGroup": "string",
        "serviceClass": "string",
        "serviceSerialNo": "string",
        "serviceName": "string",
        "irisFault": "string",
        "irisSymptom": "string",
        "irisArea": "string",
        "irisReason": "string",
        "irisResolution": "string",
        "skill1": "string",
        "skill2": "string",
        "skill3": "string",
        "contractNo": "string",
        "contractType": "string",
        "contractDescription": "string",
        "contractStartDate": "string",
        "contractEndDate": "string",
        "partsWarrantyStartDate": "string",
        "partsWarrantyEndDate": "string",
        "laborWarrantyStartDate": "string",
        "laborWarrantyEndDate": "string",
        "importance": 0,
        "status": "string",
        "expectedResponseDateTime": "string",
        "actualResponseDateTime": "string",
        "requestedStartDate": "string",
        "requestedEndDate": "string",
        "requestedStartTime": {
          "ticks": 0,
          "days": 0,
          "hours": 0,
          "milliseconds": 0,
          "minutes": 0,
          "seconds": 0,
          "totalDays": 0,
          "totalHours": 0,
          "totalMilliseconds": 0,
          "totalMinutes": 0,
          "totalSeconds": 0
        },
        "requestedEndTime": {
          "ticks": 0,
          "days": 0,
          "hours": 0,
          "milliseconds": 0,
          "minutes": 0,
          "seconds": 0,
          "totalDays": 0,
          "totalHours": 0,
          "totalMilliseconds": 0,
          "totalMinutes": 0,
          "totalSeconds": 0
        },
        "confirmedStartDate": "string",
        "confirmedEndDate": "string",
        "actualStartDate": "string",
        "actualEndDate": "string",
        "locationDescription": "string",
        "duration": {
          "ticks": 0,
          "days": 0,
          "hours": 0,
          "milliseconds": 0,
          "minutes": 0,
          "seconds": 0,
          "totalDays": 0,
          "totalHours": 0,
          "totalMilliseconds": 0,
          "totalMinutes": 0,
          "totalSeconds": 0
        },
        "durationInSeconds": 0,
        "subject": "string",
        "body": "string",
        "infiniteTask": true,
        "taskOpenAsOf": "string",
        "taskOpenTill": "string",
        "requiredTotalDuration": {
          "ticks": 0,
          "days": 0,
          "hours": 0,
          "milliseconds": 0,
          "minutes": 0,
          "seconds": 0,
          "totalDays": 0,
          "totalHours": 0,
          "totalMilliseconds": 0,
          "totalMinutes": 0,
          "totalSeconds": 0
        },
        "requiredNoResources": 0,
        "appointmentEarliestAllowed": "string",
        "appointmentLatestAllowed": "string",
        "freeText1": "string",
        "freeText2": "string",
        "freeText3": "string",
        "freeText4": "string",
        "freeText5": "string",
        "freeText6": "string",
        "freeText7": "string",
        "freeText8": "string",
        "freeText9": "string",
        "freeText10": "string",
        "freeText11": "string",
        "freeText12": "string",
        "freeText13": "string",
        "freeText14": "string",
        "freeText15": "string",
        "freeText16": "string",
        "freeText17": "string",
        "freeText18": "string",
        "freeText19": "string",
        "freeText20": "string",
        "freeDecimal1": 0,
        "freeDecimal2": 0,
        "freeDecimal3": 0,
        "freeDecimal4": 0,
        "freeDecimal5": 0,
        "freeDate1": "string",
        "freeDate2": "string",
        "freeDate3": "string",
        "freeDate4": "string",
        "freeDate5": "string",
        "freeBit1": true,
        "freeBit2": true,
        "freeBit3": true,
        "freeBit4": true,
        "freeBit5": true,
        "url1": "string",
        "urlDescription1": "string",
        "url2": "string",
        "urlDescription2": "string",
        "url3": "string",
        "urlDescription3": "string",
        "certificateNo": "string",
        "requiredTotalDurationInSeconds": 0,
        "doNotCountAppointmentResource": true,
        "isComplete": true,
        "planningUOM": "string",
        "planningUOMConversion": 0,
        "planningQty": 0,
        "useFixPlanningQty": true,
        "roundToUOM": true,
        "appointmentTemplate": "string",
        "bulkPlanningQty": 0,
        "startDate": "string",
        "endDate": "string",
        "percentDone": 0,
        "schedulingMode": 0,
        "baseLineStartDate": "string",
        "baseLineEndDate": "string",
        "baseLinePercentDone": 0,
        "deadLine": "string",
        "index": 0,
        "constraintType": 0,
        "constraintDatetime": "string",
        "parentTaskNo": "string",
        "calendarCode": "string",
        "predecessorTaskNo": "string",
        "predecessorLag": 0,
        "manuallyScheduled": true,
        "note": "string",
        "overRuleGanttPlanning": true,
        "ignoreCalendars": true,
        "containerName": "string",
        "containerIndex": 0,
        "checkAppointments": true,
        "sentFromBackOffice": true
      }
    },
    "taskContainer": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "maxLength": 50,
          "type": "string"
        },
        "name": {
          "maxLength": 255,
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "jobNo": "string",
        "taskNo": "string",
        "name": "string",
        "index": 0
      }
    },
    "taskFilterValue": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "maxLength": 50,
          "type": "string"
        },
        "filterGroup": {
          "maxLength": 50,
          "type": "string"
        },
        "filterValue": {
          "maxLength": 100,
          "type": "string"
        },
        "transferToTemp": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "jobNo": "string",
        "taskNo": "string",
        "filterGroup": "string",
        "filterValue": "string",
        "transferToTemp": true
      }
    },
    "taskLocked": {
      "type": "object",
      "properties": {
        "sourceApp": {
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "maxLength": 50,
          "type": "string"
        },
        "locked": {
          "type": "boolean"
        },
        "sentFromBackOffice": {
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "jobNo": "string",
        "taskNo": "string",
        "locked": true,
        "sentFromBackOffice": true
      }
    },
    "timeMarker": {
      "type": "object",
      "properties": {
        "name": {
          "maxLength": 100,
          "type": "string"
        },
        "color": {
          "maxLength": 7,
          "type": "string"
        }
      },
      "example": {
        "name": "string",
        "color": "string"
      }
    },
    "timeSpan": {
      "type": "object",
      "properties": {
        "ticks": {
          "format": "int64",
          "type": "integer"
        },
        "days": {
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "format": "int32",
          "type": "integer"
        },
        "milliseconds": {
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "type": "integer"
        },
        "totalDays": {
          "format": "double",
          "type": "number"
        },
        "totalHours": {
          "format": "double",
          "type": "number"
        },
        "totalMilliseconds": {
          "format": "double",
          "type": "number"
        },
        "totalMinutes": {
          "format": "double",
          "type": "number"
        },
        "totalSeconds": {
          "format": "double",
          "type": "number"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "AzureFunctionsKey": {
      "type": "apiKey",
      "name": "x-functions-key",
      "in": "header"
    }
  },
  "security": [],
  "tags": []
}
