{
  "swagger": "2.0",
  "info": {
    "title": "Dime.Scheduler Import",
    "description": "The Dime.Scheduler Import Connector allows you to feed the system with scheduling related entities such as resources, tasks, skills, etc.",
    "version": "0.1",
    "contact": {
      "name": "Dime.Scheduler",
      "url": "https://www.dimescheduler.com",
      "email": "support@dimescheduler.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dimescheduler.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.dime-software.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Data"
    }
  ],
  "host": "import.dimescheduler.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/category": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a category",
        "description": "Add or update a category.",
        "operationId": "upsertCategory",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The category's name."
                },
                "displayName": {
                  "type": "string",
                  "description": "The category's display name."
                },
                "color": {
                  "type": "string",
                  "description": "The category's hex color."
                }
              }
            }
          }
        ]
      }
    },
    "/timemarker": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a time marker",
        "description": "Add or update a time marker.",
        "operationId": "upsertTimemarker",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The time marker's name."
                },
                "color": {
                  "type": "string",
                  "description": "The time marker's color."
                }
              }
            }
          }
        ]
      }
    },
    "/pin": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a pin",
        "description": "Add or update a pin.",
        "operationId": "upsertPin",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The pin's name."
                },
                "color": {
                  "type": "string",
                  "description": "The pin's color."
                }
              }
            }
          }
        ]
      }
    },
    "/resource": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a resource",
        "description": "Add or update a resource.",
        "operationId": "upsertResource",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceNo": {
                  "type": "string",
                  "description": "The resource's unique identifier."
                },
                "resourceName": {
                  "type": "string",
                  "description": "The resource's name."
                },
                "displayName": {
                  "type": "string",
                  "description": "The resource's display name."
                },
                "email": {
                  "type": "string",
                  "description": "The resource's e-mail"
                }
              }
            }
          }
        ]
      }
    },
    "/actionUri": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update an action link",
        "description": "Add or update an action link.",
        "operationId": "upsertActionuri",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The action URI's source application."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The action URI's source type."
                },
                "uriType": {
                  "type": "integer",
                  "description": "The action URI's URI type."
                },
                "uri": {
                  "type": "string",
                  "description": "The action URI's link."
                },
                "description": {
                  "type": "string",
                  "description": "The action URI's description."
                },
                "default": {
                  "type": "boolean",
                  "description": "Flag to indicate whether this action URI's the default link."
                }
              }
            }
          }
        ]
      }
    },
    "/appointment": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update an appointment",
        "description": "Add or update an appointment.",
        "operationId": "upsertAppointment",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sourceApp": {
                  "type": "string",
                  "description": "The source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The job's unique number."
                },
                "taskNo": {
                  "type": "string",
                  "description": "The task's unique number."
                },
                "resourceNo": {
                  "type": "string",
                  "description": "The resource's unique number."
                },
                "subject": {
                  "type": "string",
                  "description": "The appointment's subject."
                },
                "body": {
                  "type": "string",
                  "description": "The appointment's body."
                },
                "start": {
                  "type": "string",
                  "description": "The appointment's start date."
                },
                "end": {
                  "type": "string",
                  "description": "The appointment's end date."
                },
                "timeMarker": {
                  "type": "string",
                  "description": "The appointment's time marker."
                },
                "category": {
                  "type": "string",
                  "description": "The appointment's category."
                },
                "importance": {
                  "type": "integer",
                  "description": "The appointment's priority."
                },
                "locked": {
                  "type": "boolean",
                  "description": "The appointment's locked status."
                },
                "replaceResource": {
                  "type": "boolean",
                  "description": "Flag to indicate whether to replace the resource."
                },
                "backOfficeId": {
                  "type": "string",
                  "description": "The appointment's back office identifier."
                },
                "backOfficeParentId": {
                  "type": "string",
                  "description": "The appointment's back office parent identifier."
                },
                "unitOfMeasure": {
                  "type": "string",
                  "description": "The appointment's unit of measure."
                },
                "unitOfMeasureConversion": {
                  "type": "string",
                  "description": "The appointment's unit of measure conversion."
                },
                "planningQuantity": {
                  "type": "string",
                  "description": "The appointment's planning quantity."
                },
                "useFixedPlanningQuantity": {
                  "type": "string",
                  "description": "Flag to indicate whether to use a fixed planning quantity."
                },
                "roundToUnitOfMeasure": {
                  "type": "string",
                  "description": "Flag to indicate whether to round up the unit of measure."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentCategory": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the category of an appointment",
        "description": "Add or update the category of an appointment.",
        "operationId": "upsertAppointmentCategory",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "category": {
                  "type": "string",
                  "description": "The appointment's new category."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentContainer": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update an appointment container",
        "description": "Add or update an appointment container.",
        "operationId": "upsertAppointmentContainer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentContent": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the content of the appointment",
        "description": "Add or update the content of the appointment.",
        "operationId": "upsertAppointmentContent",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                },
                "subject": {
                  "type": "string",
                  "description": "The appointment's new subject."
                },
                "body": {
                  "type": "string",
                  "description": "The appointment's new body."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentImportance": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the priority of an appointment",
        "description": "Add or update the priority of an appointment.",
        "operationId": "upsertAppointmentImportance",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                },
                "importance": {
                  "type": "integer",
                  "description": "The appointment's new priority."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentLocked": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the appointment's locked status",
        "description": "Add or update the appointment's locked status.",
        "operationId": "upsertAppointmentLocked",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                },
                "locked": {
                  "type": "boolean",
                  "description": "The appointment's new locked status."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentPlanningQuantity": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the appointment's planning quantity",
        "description": "Add or update the appointment's planning quantity.",
        "operationId": "upsertAppointmentPlanningQuantity",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                },
                "quantity": {
                  "type": "integer",
                  "description": "The appointment's new planning quantity."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentTimeMarker": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the appointment's time marker",
        "description": "Add or update the appointment's time marker.",
        "operationId": "upsertAppointmentTimemarker",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                },
                "timeMarker": {
                  "type": "string",
                  "description": "The appointment's new time marker."
                }
              }
            }
          }
        ]
      }
    },
    "/appointmentUri": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update an appointment link",
        "description": "Add or update an appointment link.",
        "operationId": "upsertAppointmentUri",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The appointment's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The appointment's source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                },
                "uri": {
                  "type": "string",
                  "description": "The new URI's link."
                },
                "description": {
                  "type": "string",
                  "description": "The new URI's text."
                }
              }
            }
          }
        ]
      }
    },
    "/assignment": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update an assignment",
        "description": "Add or update an assignment.",
        "operationId": "upsertAssignment",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "appointmentId": {
                  "type": "string",
                  "description": "The appointment's identifier."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The appointment's GUID."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office.."
                },
                "resourceNo": {
                  "type": "string",
                  "description": "The resource's unique number to assign to the appointment."
                }
              }
            }
          }
        ]
      }
    },
    "/caption": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a caption",
        "description": "Add or update a caption.",
        "operationId": "upsertCaption",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "context": {
                  "type": "integer",
                  "description": "The caption's context."
                },
                "sourceTable": {
                  "type": "string",
                  "description": "The caption's source table."
                },
                "fieldName": {
                  "type": "string",
                  "description": "The caption's field name."
                },
                "language": {
                  "type": "string",
                  "description": "The caption's language."
                },
                "text": {
                  "type": "string",
                  "description": "The caption's text"
                }
              }
            }
          }
        ]
      }
    },
    "/container": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a container",
        "description": "Add or update a container.",
        "operationId": "upsertContainer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The container's name."
                },
                "handleDate": {
                  "type": "string",
                  "description": "The container's handle date."
                },
                "handleLocked": {
                  "type": "string",
                  "description": "The container's locked status."
                }
              }
            }
          }
        ]
      }
    },
    "/filterGroup": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a filter group",
        "description": "Add or update a flter group.",
        "operationId": "upsertFilterGroup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The filter group's name."
                },
                "columnNo": {
                  "type": "string",
                  "description": "The filter group's column number."
                },
                "dataFilter": {
                  "type": "boolean",
                  "description": "The filter group's data filter."
                }
              }
            }
          }
        ]
      }
    },
    "/filterValue": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a filter value",
        "description": "Add or update a filter value.",
        "operationId": "upsertFilterValue",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "group": {
                  "type": "string",
                  "description": "name."
                },
                "value": {
                  "type": "string",
                  "description": "name"
                }
              }
            }
          }
        ]
      }
    },
    "/job": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a job",
        "description": "Add or update a job.",
        "operationId": "upsertJob",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The job's source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The job's source type."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The job's unique identifier."
                },
                "shortDescription": {
                  "type": "string",
                  "description": "The job's short description."
                },
                "description": {
                  "type": "string",
                  "description": "The job's description."
                },
                "type": {
                  "type": "string",
                  "description": "The job's type."
                },
                "name": {
                  "type": "string",
                  "description": "The job's name."
                },
                "category": {
                  "type": "string",
                  "description": "The job's category."
                },
                "timeMarker": {
                  "type": "string",
                  "description": "The job's time marker."
                },
                "pin": {
                  "type": "string",
                  "description": "The job's pin."
                },
                "customerNo": {
                  "type": "string",
                  "description": "The job's customer number."
                },
                "customerName": {
                  "type": "string",
                  "description": "The job's customer name."
                },
                "customerAddress": {
                  "type": "string",
                  "description": "The job's customer address."
                },
                "customerPhone": {
                  "type": "string",
                  "description": "The job's customer phone."
                },
                "customerEmail": {
                  "type": "string",
                  "description": "The job's customer e-mail."
                },
                "contactNo": {
                  "type": "string",
                  "description": "The job's contact number."
                },
                "contactName": {
                  "type": "string",
                  "description": "The job's contact name."
                },
                "contactAddress": {
                  "type": "string",
                  "description": "The job's contact address."
                },
                "contactPhone": {
                  "type": "string",
                  "description": "The job's contact phone."
                },
                "contactEmail": {
                  "type": "string",
                  "description": "The job's contact e-mail."
                },
                "siteNo": {
                  "type": "string",
                  "description": "The job's site number."
                },
                "siteName": {
                  "type": "string",
                  "description": "The job's site name."
                },
                "siteAddress": {
                  "type": "string",
                  "description": "The job's site address."
                },
                "sitePhone": {
                  "type": "string",
                  "description": "The job's site phone."
                },
                "siteEmail": {
                  "type": "string",
                  "description": "The job's site e-mail."
                },
                "siteRegion": {
                  "type": "string",
                  "description": "The job's site region."
                },
                "siteStreet": {
                  "type": "string",
                  "description": "The job's site street."
                },
                "siteStreetNo": {
                  "type": "string",
                  "description": "The job's site street number."
                },
                "sitePostcode": {
                  "type": "string",
                  "description": "The job's site post code."
                },
                "siteCity": {
                  "type": "string",
                  "description": "The job's site city."
                },
                "siteCounty": {
                  "type": "string",
                  "description": "The job's site county."
                },
                "siteState": {
                  "type": "string",
                  "description": "The job's site state."
                },
                "siteCountry": {
                  "type": "string",
                  "description": "The job's site country."
                },
                "siteAddressGeoLong": {
                  "type": "string",
                  "description": "The job's site address lat."
                },
                "siteAddressGeoLat": {
                  "type": "string",
                  "description": "The job's site address long."
                },
                "siteFromNo": {
                  "type": "string",
                  "description": "The job's site from number."
                },
                "siteFromName": {
                  "type": "string",
                  "description": "The job's site from name."
                },
                "siteFromAddress": {
                  "type": "string",
                  "description": "The job's site from address."
                },
                "siteFromAddressGeoLong": {
                  "type": "string",
                  "description": "The job's site from long."
                },
                "siteFromAddressGeoLat": {
                  "type": "string",
                  "description": "The job's site from lat."
                },
                "siteFromPhone": {
                  "type": "string",
                  "description": "The job's site from phone."
                },
                "siteFromEmail": {
                  "type": "string",
                  "description": "The job's site from e-mail."
                },
                "siteFromRegion": {
                  "type": "string",
                  "description": "The job's site from region."
                },
                "siteFromStreet": {
                  "type": "string",
                  "description": "The job's site from street."
                },
                "siteFromPostcode": {
                  "type": "string",
                  "description": "The job's site from post code."
                },
                "siteFromCity": {
                  "type": "string",
                  "description": "The job's site from city."
                },
                "siteFromCounty": {
                  "type": "string",
                  "description": "The job's site from county."
                },
                "siteFromState": {
                  "type": "string",
                  "description": "The job's site from state."
                },
                "siteFromCountry": {
                  "type": "string",
                  "description": "The job's site from country."
                },
                "billNo": {
                  "type": "string",
                  "description": "The job's bill number."
                },
                "billName": {
                  "type": "string",
                  "description": "The job's bill name."
                },
                "billAddress": {
                  "type": "string",
                  "description": "The job's bill address."
                },
                "billPhone": {
                  "type": "string",
                  "description": "The job's bill phone."
                },
                "billEmail": {
                  "type": "string",
                  "description": "The job's bill e-mail."
                },
                "billRegion": {
                  "type": "string",
                  "description": "The job's bill region."
                },
                "importance": {
                  "type": "string",
                  "description": "The job's priority."
                },
                "creationDateTime": {
                  "type": "string",
                  "description": "The job's creation date."
                },
                "customerReference": {
                  "type": "string",
                  "description": "The job's customer reference."
                },
                "language": {
                  "type": "string",
                  "description": "The job's language."
                },
                "responsible": {
                  "type": "string",
                  "description": "The job's responsible."
                },
                "creator": {
                  "type": "string",
                  "description": "The job's creator."
                },
                "freeText1": {
                  "type": "string",
                  "description": "The job's free text #1."
                },
                "freeText2": {
                  "type": "string",
                  "description": "The job's free text #2."
                },
                "freeText3": {
                  "type": "string",
                  "description": "The job's free text #3."
                },
                "freeText4": {
                  "type": "string",
                  "description": "The job's free text #4."
                },
                "freeText5": {
                  "type": "string",
                  "description": "The job's free text #5."
                },
                "freeText6": {
                  "type": "string",
                  "description": "The job's free text #6."
                },
                "freeText7": {
                  "type": "string",
                  "description": "The job's free text #7."
                },
                "freeText8": {
                  "type": "string",
                  "description": "The job's free text #8."
                },
                "freeText9": {
                  "type": "string",
                  "description": "The job's free text #9."
                },
                "freeText10": {
                  "type": "string",
                  "description": "The job's free text #10."
                },
                "freeText11": {
                  "type": "string",
                  "description": "The job's free text #11."
                },
                "freeText12": {
                  "type": "string",
                  "description": "The job's free text #12."
                },
                "freeText13": {
                  "type": "string",
                  "description": "The job's free text #13."
                },
                "freeText14": {
                  "type": "string",
                  "description": "The job's free text #14."
                },
                "freeText15": {
                  "type": "string",
                  "description": "The job's free text #15."
                },
                "freeText16": {
                  "type": "string",
                  "description": "The job's free text #16."
                },
                "freeText17": {
                  "type": "string",
                  "description": "The job's free text #17."
                },
                "freeText18": {
                  "type": "string",
                  "description": "The job's free text #18."
                },
                "freeText19": {
                  "type": "string",
                  "description": "The job's free text #19."
                },
                "freeText20": {
                  "type": "string",
                  "description": "The job's free text #20."
                },
                "freeDecimal1": {
                  "type": "string",
                  "description": "The job's free decimal #1."
                },
                "freeDecimal2": {
                  "type": "string",
                  "description": "The job's free decimal #2."
                },
                "freeDecimal3": {
                  "type": "string",
                  "description": "The job's free decimal #3."
                },
                "freeDecimal4": {
                  "type": "string",
                  "description": "The job's free decimal #4."
                },
                "freeDecimal5": {
                  "type": "string",
                  "description": "The job's free decimal #5."
                },
                "freeBit1": {
                  "type": "string",
                  "description": "The job's free boolean #1."
                },
                "freeBit2": {
                  "type": "string",
                  "description": "The job's free boolean #2."
                },
                "freeBit3": {
                  "type": "string",
                  "description": "The job's free boolean #3."
                },
                "freeBit4": {
                  "type": "string",
                  "description": "The job's free boolean #4."
                },
                "freeBit5": {
                  "type": "string",
                  "description": "The job's free boolean #5."
                },
                "enableManualSelection": {
                  "type": "string",
                  "description": "The job's flag to enable manual selection."
                },
                "availableInGantt": {
                  "type": "string",
                  "description": "The job's flag to enable project planning."
                },
                "startDate": {
                  "type": "string",
                  "description": "The job's start date."
                },
                "endDate": {
                  "type": "string",
                  "description": "The job's end date."
                },
                "allowDependencies": {
                  "type": "string",
                  "description": "The job's flag to allow dependencies."
                },
                "note": {
                  "type": "string",
                  "description": "The job's note."
                },
                "overRuleGanttPlanning": {
                  "type": "string",
                  "description": "The job's flag to allow the Gantt chart to override the planning."
                },
                "checkAppointments": {
                  "type": "string",
                  "description": "The job's flag to check appointments."
                },
                "sentFromBackOffice": {
                  "type": "string",
                  "description": "The flag to indicate whether the record was sent from the back office."
                }
              }
            }
          }
        ]
      }
    },
    "/notification": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update notification",
        "description": "Add or update notification.",
        "operationId": "upsertNotification",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "appointmentId": {
                  "type": "integer",
                  "description": "The appointment's identifier (optional)."
                },
                "connectorId": {
                  "type": "string",
                  "description": "The connector's identifier."
                },
                "type": {
                  "type": "integer",
                  "description": "The notification type. 0 for debug, 1 for information, 2 for warning, 3 for error, 4 for fatal.."
                },
                "code": {
                  "type": "string",
                  "description": "The notification's code."
                },
                "text": {
                  "type": "string",
                  "description": "The notification's message."
                },
                "date": {
                  "type": "string",
                  "description": "The notification's date."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The notification's unique job number (optional)."
                },
                "taskNo": {
                  "type": "string",
                  "description": "The notification's unique task number (optional)."
                },
                "appointmentGuid": {
                  "type": "string",
                  "description": "The notification's appointment GUID."
                },
                "sentFromBackoffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                }
              }
            }
          }
        ]
      }
    },
    "/resourceCalendar": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a calendar for a resource",
        "description": "Add or update a calendar for a resource.",
        "operationId": "upsertResourceCalendar",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                }
              }
            }
          }
        ]
      }
    },
    "/resourceCapacity": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the capacity of a resource",
        "description": "Add or update the capacity of a resource.",
        "operationId": "upsertResourceCapacity",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name."
                }
              }
            }
          }
        ]
      }
    },
    "/resourceCertificate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the certificate of a resource",
        "description": "Add or update the certificate of a resource.",
        "operationId": "upsertResourceCertificate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name."
                }
              }
            }
          }
        ]
      }
    },
    "/resourceFilterValue": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the filter value of a resource",
        "description": "Add or update the filter value of a resource.",
        "operationId": "upsertResourceFilterValue",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name."
                }
              }
            }
          }
        ]
      }
    },
    "/resourceGpsTracking": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the live location of a resource",
        "description": "Add or update the live location of a resource.",
        "operationId": "upsertResourceGpstracking",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceNo": {
                  "type": "string",
                  "description": "The resource's unique identifier."
                },
                "gpsTrackingResourceNo": {
                  "type": "string",
                  "description": "The resource tracking number."
                },
                "latitude": {
                  "type": "string",
                  "description": "The position's latitude."
                },
                "longitude": {
                  "type": "string",
                  "description": "The position's longitude."
                },
                "speed": {
                  "type": "string",
                  "description": "The speed."
                },
                "date": {
                  "type": "string",
                  "description": "The date."
                },
                "rowId": {
                  "type": "string",
                  "description": "The row id."
                },
                "power": {
                  "type": "string",
                  "description": "The power."
                }
              }
            }
          }
        ]
      }
    },
    "/resourceUri": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the uri of a resource",
        "description": "Add or update the uri of a resource.",
        "operationId": "upsertResourceUri",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceNo": {
                  "type": "string",
                  "description": "The resource number."
                },
                "uri": {
                  "type": "string",
                  "description": "The resource URI link."
                },
                "description": {
                  "type": "string",
                  "description": "The resource URI text."
                }
              }
            }
          }
        ]
      }
    },
    "/task": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a task",
        "description": "Add or update a task.",
        "operationId": "upsertTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The job's unique identifier."
                },
                "taskNo": {
                  "type": "string",
                  "description": "The task's unique identifier."
                },
                "taskType": {
                  "type": "string",
                  "description": "The task type. Enter 0 for planning task, 1 for a project task.."
                },
                "shortDescription": {
                  "type": "string",
                  "description": "A short description of the task."
                },
                "description": {
                  "type": "string",
                  "description": "A longer description of the task."
                },
                "name": {
                  "type": "string",
                  "description": "The task's name."
                },
                "type": {
                  "type": "string",
                  "description": "The task's type."
                },
                "category": {
                  "type": "string",
                  "description": "The task's category."
                },
                "timeMarker": {
                  "type": "string",
                  "description": "The task's time marker."
                },
                "pin": {
                  "type": "string",
                  "description": "The task's pin."
                },
                "serviceNo": {
                  "type": "string",
                  "description": "The task's service number."
                },
                "serviceGroup": {
                  "type": "string",
                  "description": "The task's service group."
                },
                "serviceClass": {
                  "type": "string",
                  "description": "The task's service class."
                },
                "serviceSerialNo": {
                  "type": "string",
                  "description": "The task's service serial number."
                },
                "serviceName": {
                  "type": "string",
                  "description": "The task's service name."
                },
                "freeText1": {
                  "type": "string",
                  "description": "The task's free text #1."
                },
                "freeText2": {
                  "type": "string",
                  "description": "The task's free text #2."
                },
                "freeText3": {
                  "type": "string",
                  "description": "The task's free text #3."
                },
                "freeText4": {
                  "type": "string",
                  "description": "The task's free text #4."
                },
                "freeText5": {
                  "type": "string",
                  "description": "The task's free text #5."
                },
                "freeText6": {
                  "type": "string",
                  "description": "The task's free text #6."
                },
                "freeText7": {
                  "type": "string",
                  "description": "The task's free text #7."
                },
                "freeText8": {
                  "type": "string",
                  "description": "The task's free text #8."
                },
                "freeText9": {
                  "type": "string",
                  "description": "The task's free text #9."
                },
                "freeText10": {
                  "type": "string",
                  "description": "The task's free text #10."
                },
                "freeText11": {
                  "type": "string",
                  "description": "The task's free text #11."
                },
                "freeText12": {
                  "type": "string",
                  "description": "The task's free text #12."
                },
                "freeText13": {
                  "type": "string",
                  "description": "The task's free text #13."
                },
                "freeText14": {
                  "type": "string",
                  "description": "The task's free text #14."
                },
                "freeText15": {
                  "type": "string",
                  "description": "The task's free text #15."
                },
                "freeText16": {
                  "type": "string",
                  "description": "The task's free text #16."
                },
                "freeText17": {
                  "type": "string",
                  "description": "The task's free text #17."
                },
                "freeText18": {
                  "type": "string",
                  "description": "The task's free text #18."
                },
                "freeText19": {
                  "type": "string",
                  "description": "The task's free text #19."
                },
                "freeText20": {
                  "type": "string",
                  "description": "The task's free text #20."
                },
                "freeDecimal1": {
                  "type": "string",
                  "description": "The task's free decimal #1."
                },
                "freeDecimal2": {
                  "type": "string",
                  "description": "The task's free decimal #2."
                },
                "freeDecimal3": {
                  "type": "string",
                  "description": "The task's free decimal #3."
                },
                "freeDecimal4": {
                  "type": "string",
                  "description": "The task's free decimal #4."
                },
                "freeDecimal5": {
                  "type": "string",
                  "description": "The task's free decimal #5."
                },
                "freeBit1": {
                  "type": "string",
                  "description": "The task's free boolean #1."
                },
                "freeBit2": {
                  "type": "string",
                  "description": "The task's free boolean #2."
                },
                "freeBit3": {
                  "type": "string",
                  "description": "The task's free boolean #3."
                },
                "freeBit4": {
                  "type": "string",
                  "description": "The task's free boolean #4."
                },
                "freeBit5": {
                  "type": "string",
                  "description": "The task's free boolean #5."
                }
              }
            }
          }
        ]
      }
    },
    "/taskContainer": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a task container",
        "description": "Add or update a task container.",
        "operationId": "upsertTaskContainer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The job's unique identifier."
                },
                "taskNo": {
                  "type": "string",
                  "description": "The task's unique identifier."
                },
                "name": {
                  "type": "string",
                  "description": "The container's name."
                },
                "index": {
                  "type": "integer",
                  "description": "The index of the container member."
                }
              }
            }
          }
        ]
      }
    },
    "/taskFilterValue": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update a task filter value",
        "description": "Add or update a task filter value.",
        "operationId": "upsertTaskFiltervalue",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The source app."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The job's unique identifier."
                },
                "taskNo": {
                  "type": "string",
                  "description": "The task's unique identifier."
                },
                "filterGroup": {
                  "type": "string",
                  "description": "The group."
                },
                "filterValue": {
                  "type": "string",
                  "description": "The value."
                }
              }
            }
          }
        ]
      }
    },
    "/taskLocked": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add or update the task's locked status",
        "description": "Add or update the task's locked status.",
        "operationId": "upsertTaskLocked",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "The source application."
                },
                "sourceType": {
                  "type": "string",
                  "description": "The source type."
                },
                "jobNo": {
                  "type": "string",
                  "description": "The job's unique identifier."
                },
                "taskNo": {
                  "type": "string",
                  "description": "The task's unique identifer."
                },
                "locked": {
                  "type": "boolean",
                  "description": "Flag to indicate whether to lock the task."
                },
                "sentFromBackOffice": {
                  "type": "boolean",
                  "description": "Flag to indicate whether the record was sent from the back office."
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "AzureFunctionsKey": {
      "type": "apiKey",
      "name": "x-functions-key",
      "in": "header"
    }
  },
  "security": [],
  "tags": []
}
